body {
  background-color: blue;
}
.container {
  margin:60px 100px 0 0;
  display: flex;
  justify-content: space-around;
}

.card {
  display: inline-block;
  transition: all 1s ease-in-out;
  width: 20px;
  margin: 0 0 0 -100px;
}
.card:hover, .card:focus {
  display: inline-block;
  transition: all 0.5s ease-in-out; 
  width: 220px;
}
.card .inner {
  display: inline-block;
  background-color: white;
  height: auto;
  align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
  border: solid 2px;
  width: 200px;
  box-shadow: 4px 4px 20px;
}

.card:hover .inner,
.card:focus .inner {
  background-color: #FFB534;
  color: white;
  transition: all 0.2s ease-in-out;
  margin-left:0%;   
  box-shadow: 10px 10px 20px 
}

.card > h1 {
    font-size: 28px;
    margin: 0px;
}

.card > p {
    font-size: 18px;
    text-align: center;
}
.card > a {
    text-decoration: none;
    background-color: #FFB534;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
.card:hover.card > a {
  background-color: white;
  color: #FFB534;
}
