body {
  background-color: #55c2c3;
}
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.50;
}
input {
  margin: .5em;
}
.container {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
@font-face {
  font-family: 'Zapfino';
  src: url('/assets/Zapfino.woff2') format('woff2'), url('/assets/Zapfino.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
h1 {
  font-family: 'Zapfino';
  font-weight: normal;
  font-style: italic;
}
.mainCard {
  height: -webkit-fill-available;
  text-align: center;
}
.card {
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
.card:hover,
.card:focus, 
.card:has(:focus-within),
.card:has(.curser) {
  display: inline-block;
  transition: all 0.5s ease-in-out; 
  margin: 0 0 0 0;
}

form button {
  display: none
}
form:focus-within button {
  display: inline-block
}
form input {
  display: none
}
form:focus-within input {
  display: block
}
.card .inner {
  display: inline-block;
  background-color: white;
  height: auto;
  align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
  border: solid 2px;
  box-shadow: 4px 4px 20px;
  height: -webkit-fill-available;
}

.card:hover .inner,
.card .curser,
.card:focus .inner {
  background-color: #fff555;
  transition: all 0.2s ease-in-out;
  margin-left:0%;   
  box-shadow: 10px 10px 20px 
}

.card > h1 {
  font-size: 28px;
  margin: 0px;
}

.card > p {
  font-size: 18px;
  text-align: center;
}
.card > a {
  text-decoration: none;
  background-color: #FFB534;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.card:hover.card > a {
  background-color: white;
  color: #FFB534;
}
