<script type="module">
  import { createApp, reactive } from './petite-vue.es.js'

  const store = reactive({
    cards: [],
    newCard: {
      title: "title", 
      body: "123 234 345 456 567",
      subCards: [],
    },
    curser:0,
    inc() {
      this.curser = this.cards.length
      this.cards.push({...this.newCard})
    },
    incSub() {
      console.log(this)
      this.cards[this.curser].subCards = this.cards[this.curser].subCards.concat([{...this.newCard}])
    },
  })


  createApp({
    // share it with app scopes
    store
  }).mount()
</script>

<div v-scope="{ localCount: 0 }">
  <input v-model="store.newCard.title">
  <input v-model="store.newCard.body">
  <button @click="store.inc">+ Main</button>
  <button v-if="store.cards[0]" @click="store.incSub">+ Sub</button>

</div>
<html>
  <head>
    <title>Sky Cards</title>
    <link rel="stylesheet" type="text/css" href="cards.css">
  </head>
  <body>
    <div v-scope="{ localCount: 1 }">
      <div class="container">
	<div class="card" tabindex="0" v-for="(s, i) in store.cards" @click="store.curser = i">
          <div class="inner">
            <h1> {{ s.title }} </h1>
            <p> {{ s.body }} </p>
          </div>
        </div>
      </div>
    </div>
      
    <div v-scope="{ localCount: 1 }" v-for="(card, ci) in store.cards">
      <div class="container" v-if="store.curser === ci">
	<div class="card" tabindex="0" :key="store.curser +' '+ i" v-for="(n, i) in card.subCards">
          <div class="inner">
            <h1>{{ n.title }}</h1>
            <p> {{ n.body }} </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
